:root {
  --bs-primary: #19BC9C;
  --bs-primary-rgb: 25, 188, 156;
  --bs-primary-dark: #248e79;

  --bs-secondary: #3B536D;
  --bs-secondary-rgb: 59, 83, 109;
  --bs-dark: #2C3E4F;
  --bs-dark-rgb: 44, 62, 79;
}

section {
  /* DEBUG */
  padding: 2rem;
  border: 2px dashed blue;
}

nav {
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

header h4 {
  font-weight: 700;
  margin: 0;
}

#jumbotron h1 {
  font-size: 56px;
}

#jumbotron div, #portfolio div {
  margin: 0 auto;
}


.jumbo-container {
  max-width: 540px;
  margin: 0 auto;;
}

.about-container {
  margin-left: 5%;
  margin-right: 5%;
}

.element-centered {
  display: flex;
  align-items: center;
}

.button-container {
  width: 32px;
  height: 32px;
}

.margin-left-auto {
  margin-left: auto;
}

.header-link {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.logo-container {
  width: 250px;
  height: 250px;
}

.mini-logo-container {
  width: 55px;
  height: 55px;
}

.portfolio-img {
  padding-bottom: 1.5rem;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}