div {
  /* DEBUG */
  padding: 1rem;
}

div, nav {
  /* DEBUG */
  border: 2px dashed red;
}

section {
  /* DEBUG */
  padding: 2rem;
  border: 2px dashed blue;
}

nav {
  text-align: center;
}

svg {
  width: 100%;
  height: 100%;
}

#jumbotron div, #portfolio div {
  margin: 0 auto;
}

.jumbo-container {
  max-width: 540px;
  margin: 0 auto;;
}

.about-container {
  margin-left: 5%;
  margin-right: 5%;
}

.element-centered {
  display: flex;
  justify-content: end;
  align-items: center;
}

.button-container {
  width: 32px;
  height: 32px;
}